<h1>Discrete Mathematics</h1>

<h2><%= link_to 'Logic', logic_path %></h2>
<h2><%= link_to 'Number Systems', number_systems_path %></h2>
<h2><%= link_to 'Search Efficiency', search_efficiency_path %></h2>
<h2><%= link_to 'Sets', sets_path %></h2>
<h2><%= link_to 'Hashing', hashing_path %></h2>
<h2><%= link_to 'Trees', tree_path %></h2>
<h2><%= link_to 'Probability', probability_path %></h2>