<nav class="primary">
<details>
  <summary>Menu</summary>
  <%= link_to 'Logic', logic_path %>
  <%= link_to 'Number Systems', number_systems_path %>
  <%= link_to 'Search Efficiency', search_efficiency_path %>
  <%= link_to 'Sets', sets_path %>
  <%= link_to 'Hashing', hashing_path %>
</details>
</nav>