<% direction, *next_search_steps = search_steps %>
<% found_left = direction == -1 %>
<% found_right = direction == 1 %>

<div class="tree">
  <h3 class="<%= direction.try{ |direction| direction == 0 ? 'positive' : 'negative' } || '' %>"><%= node.value %></h3>

  <div class="tree--branches">
    <% if node.left.present? %>
        <details <%= direction.present? ? 'open' : '' %>>
          <summary>L</summary>
          <%= render 'tree/node', node: node.left, search_steps: found_left ? next_search_steps : nil %>
        </details>
    <% end %>

    <% if node.right.present? %>
      <details <%= direction.present? ? 'open' : '' %>>
        <summary>R</summary>
        <%= render 'tree/node', node: node.right, search_steps: found_right ? next_search_steps : nil %>
      </details>
    <% end %>
  </div>
</div>