<h1>Trees</h1>

<section>
  <h3><%= pluralize(@b.size, 'item') %></h3>

  <%= render 'node', node: @b.root %>
</section>

<h3>Resources</h3>
<nav>
  <%= link_to 'educative.io', 'https://www.educative.io/collection/page/10370001/160001/220001' %>
  <%= link_to 'Advantages of binary search trees', 'http://stackoverflow.com/a/19896875' %>
  <%= link_to 'Aapplications', 'http://stackoverflow.com/questions/2130416/what-are-the-applications-of-binary-trees' %>
  <%= link_to 'Applications of binary search trees', 'https://www.quora.com/What-are-some-practical-applications-of-binary-search-trees' %>
  <%= link_to 'Pre/succ', 'https://www.quora.com/How-can-you-find-successors-and-predecessors-in-a-binary-search-tree-in-order' %>
</nav>