<h1>Search Efficiency</h1>

<% if @query.present? %>
  <nav>
    <strong>“<%= @query %>”</strong>
    <%= @step %>
    <%= link_to 'Next', search_efficiency_path(step: @step + 1, q: @query) %>
    <%= link_to 'Restart', search_efficiency_path(q: @query) %>
  <nav>
<% end %>
<nav>
  Search for:
  <%= link_to 'Lemur', search_efficiency_path(q: 'Lemur') %>
  <%= link_to 'Salamander', search_efficiency_path(q: 'Salamander') %>
  <%= link_to 'Hippopotamus', search_efficiency_path(q: 'Hippopotamus') %>
  <%= link_to 'Goat', search_efficiency_path(q: 'Goat') %>
<nav>

<h2>Linear Search — searching an array</h2>

<%= render 'linear', items: @items, step: @step, query: @query, extra: 0 %>

<h2>Binary Search — searching a sorted array</h2>
<ol>
<% @items_sorted.each_with_index do |item, index| %>
  <li>
    <% checked = @binary_search_step_result.include?(index) %>
    <% found = checked && (item == @query) %>
    <% current = @binary_search_step_result.last == index %>
    <% class_name = (checked ? (found ? 'positive' : 'negative') : nil) %>
    <%= content_tag (current ? :strong : :span), item, class: class_name %>
    <% if found %>
      <%= pluralize(@binary_search_step_result.length, 'step') %>
    <% end %>
  </li>
<% end %>
</ol>

<h2>Binary Search Tree — searching a balanced tree</h2>

<%= render 'tree/node', node: @b.root, search_steps: @binary_tree_search_steps %>

<h2>Hashed values — searching a Hash/Dictionary</h2>

<ol>
<% @items_hash_array.each_with_index do |values, hash_offset| %>
  <% found_bucket = hash_offset == @items_hash_found_offset %>
  <% class_name = (found_bucket ? 'positive' : nil) %>
  <%= content_tag :li, class: class_name do %>
    <%= render 'linear', items: values, step: found_bucket ? @step - 1 : 0, extra: 1, query: @query %>
  <% end %>
<% end %>
</ol>